body {
  background-color: #ac9999;
}
.container h1 {
  text-align: center;

  font-size: 40px;
}
.container p {
  font-size: 20px;
  line-height: 1.2em;
  text-align: center;
}

.container {
  margin: 0 auto;
  text-align: center;
  /* height: 1000px; */
  width: 700px;
  background-color: goldenrod;
}
.container img {
  max-width: 600px;
}
